<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of pet Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->

<h1 th:text="'List of Owners'">Owners List</h1>

<table>
    <thead>
    <tr>
    <tr>Id</tr>
    <tr>First Name</tr>
    <tr>Last name</tr>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Ja</td>
        <td th:text="${owner.lastName}">L</td>
    </tr>
    </tbody>
    </tr>
    </tbody>
</table>

</body>
</html>